.links ul{
    position: relative;
    z-index: 10;
}
.links ul ul{
    display: none;
    background: whitesmoke;
    position: absolute;
    width: 50% ;
    height: 50vh;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
  
    
}
.links ul ul li{
    padding-top: 14px;

}
.links ul li:hover ul{
    display: block;
    position: absolute;
}
.icon{
    transition: 0.4s ease-in-out;
}
.links ul li:hover .icon{
    transform: rotate(-180deg);
   
}
.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #555;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-button.active {
    background-color: #4caf50;
    color: white;
  }