.links ul{
    position: relative;
    z-index: 10;
}
.links ul ul{
    display: none;
    background: whitesmoke;
    position: absolute;
    width: 50% ;
    height: 50vh;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
  
    
}
.links ul ul li{
    padding-top: 14px;

}
.links ul li:hover ul{
    display: block;
    position: absolute;
}
.icon{
    transition: 0.4s ease-in-out;
}
.links ul li:hover .icon{
    transform: rotate(-180deg);
   
}
.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #555;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-button.active {
    background-color: #4caf50;
    color: white;
  }


  .mobile ul{
    position: relative;
    z-index: 10;
}
.mobile ul ul{
    display: none;
    width: 100%;
    
   
    background: rgb(146, 146, 146);
    position: absolute;
    padding-right: 70px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
  
    
}
.mobile ul ul li{
    padding-top: 14px;
   

}
.mobile ul li:hover ul{
    display: block;
    position: absolute;
}
.icon{
    transition: 0.4s ease-in-out;
}
.mobile ul li:hover .icon{
    transform: rotate(-180deg);
   
}

@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .EnquiryForm {
    /* Set initial styles */
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s, transform 0.4s;
  }
  
  /* Apply the zoomIn animation only when the EnquiryForm has the zoomIn class */
  .EnquiryForm.zoomIn {
    animation: zoomIn 0.4s ease;
    opacity: 1;
    transform: scale(1);
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #fff; /* Customize the background color */
    opacity: 0.6; /* Customize the opacity */
    margin: 0 4px; /* Customize the spacing between bullets */
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1; /* Customize the active bullet's opacity */
  }